<!DOCTYPE html>
<html lang="en_US">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>Senkus Orchids</title>
        <link rel="stylesheet" href="{{url_for('static',filename='dist/css/output.css')}}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>        
        <link href="https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Hubot+Sans:ital,wdth,wght@0,75..125,200..900;1,75..125,200..900&display=swap" rel="stylesheet">
    </head>
    <body>
        <div class="flex flex-row min-h-screen justify-center items-center">
            <h1 class="text-4xl text-blue-600 font-fraunces uppercase">Hey, {{name}}!</h1>
        </div>
    </body>
</html>